Repository MANVSim/MANVSim, pull requests merged in 2024-09, with the labels that each got.

#282 Feature/server/258 media api handle text and title attributes for all media types
  server/Pipfile.lock
  server/media/media_api.py
  server/media/tests/test_media_api.py
Labels: backend

#278 Feature/app/212 app implement location screen
  app/api/generated/.openapi-generator/FILES
  app/api/generated/README.md
  app/api/generated/doc/DefaultApi.md
  app/api/generated/doc/RunPlayerInventoryGet200Response.md
  app/api/generated/lib/api.dart
  app/api/generated/lib/api/default_api.dart
  app/api/generated/lib/api_client.dart
  app/api/generated/lib/model/run_player_inventory_get200_response.dart
  app/lib/appframe.dart
  app/lib/constants/icons.dart
  app/lib/l10n/de.arb
  app/lib/models/patient_action.dart
  app/lib/screens/location_list_screen.dart
  app/lib/screens/location_screen.dart
  app/lib/screens/patient_list_screen.dart
  app/lib/screens/patient_select_screen.dart
  app/lib/services/inventory_service.dart
  app/lib/services/location_service.dart
  app/lib/widgets/location_overview.dart
  app/lib/widgets/resource_directory.dart
  app/lib/widgets/transfer_dialogue.dart
  doc/server/api_game/api.yaml
Labels: app

#275 app #276 small fixes
  app/.metadata
  app/android/.gitignore
  app/android/app/build.gradle
  app/android/app/src/main/AndroidManifest.xml
  app/android/build.gradle
  app/android/gradle.properties
  app/android/settings.gradle
  app/api/.gitignore
  app/api/generate.sh
  app/api/generated/doc/RunPatientAllIdsGet200Response.md
  app/api/generated/lib/model/run_patient_all_ids_get200_response.dart
  app/lib/l10n/de.arb
  app/lib/models/tan_user.dart
  app/lib/screens/login_screen.dart
  app/lib/screens/name_screen.dart
  app/lib/screens/start_screen.dart
  app/lib/services/patient_service.dart
  app/lib/widgets/tan_input.dart
  app/pubspec.lock
  app/web/index.html
  app/web/manifest.json
  doc/app/README.md
  doc/server/api_game/api.yaml
  server/execution/api/patient.py
Labels: bug, enhancement, app

#283 Server: Restrict endpoints of scenario editor
  server/execution/web_api/lobby.py
  server/execution/web_api/notification.py
  server/scenario/web_api/data/action.py
  server/scenario/web_api/data/location.py
  server/scenario/web_api/data/patient.py
  server/scenario/web_api/data/resource.py
  server/scenario/web_api/scenario.py
Labels: backend

#288 use dbsetup.py in setup.sh
  server/Dockerfile
  server/scripts/setup.sh
Labels: bug, backend, web

#290 Feature/server/285 multimedia information for patients
  doc/server/api_game/api.yaml
  server/dbsetup.py
  server/execution/entities/patient.py
  server/execution/services/entityloader.py
  server/execution/tests/services/test_entityloader.py
  server/migrations/versions/f3d393a82ef9_.py
  server/models.py
Labels: backend

#297 Feature/app/86 multimedia type
  .github/workflows/build-android.yml
  app/android/app/src/main/AndroidManifest.xml
  app/api/build/.last_build_id
  app/api/generated/.openapi-generator/FILES
  app/api/generated/README.md
  app/api/generated/doc/ActionDTO.md
  app/api/generated/doc/ActionDTOMediaReferencesInner.md
  app/api/generated/doc/LocationDTO.md
  app/api/generated/doc/MediaReferencesDTOInner.md
  app/api/generated/doc/PatientDTO.md
  app/api/generated/doc/ResourceDTO.md
  app/api/generated/lib/api.dart
  app/api/generated/lib/api_client.dart
  app/api/generated/lib/model/action_dto.dart
  app/api/generated/lib/model/action_dto_media_references_inner.dart
  app/api/generated/lib/model/location_dto.dart
  app/api/generated/lib/model/media_references_dto_inner.dart
  app/api/generated/lib/model/patient_dto.dart
  app/api/generated/lib/model/resource_dto.dart
  app/lib/constants/icons.dart
  app/lib/l10n/de.arb
  app/lib/models/location.dart
  app/lib/models/multi_media.dart
  app/lib/models/patient.dart
  app/lib/models/patient_action.dart
  app/lib/models/resource.dart
  app/lib/screens/location_screen.dart
  app/lib/services/api_service.dart
  app/lib/widgets/action_card.dart
  app/lib/widgets/action_selection.dart
  app/lib/widgets/audio_player.dart
  app/lib/widgets/location_overview.dart
  app/lib/widgets/media_overview_dialog.dart
  app/lib/widgets/media_overview_expansion.dart
  app/lib/widgets/muti_media_view.dart
  app/lib/widgets/patient_overview.dart
  app/lib/widgets/resource_directory.dart
  app/lib/widgets/transfer_dialogue.dart
  app/lib/widgets/video_player.dart
  app/pubspec.lock
  app/pubspec.yaml
  doc/server/api_game/api.yaml
Labels: app

#292 docker #270 add volume for db
  README.md
  docker-compose.yaml
Labels: database

#313 Feature/web/308 add starting time to scenario editor
  server/dbsetup.py
  server/execution/entities/execution.py
  server/execution/services/entityloader.py
  server/execution/tests/services/test_entityloader.py
  server/migrations/versions/5869f9e19ceb_.py
  server/models.py
  server/scenario/web_api/scenario.py
  web/src/components/scenario-data.css
  web/src/components/scenario-data.tsx
  web/src/routes/scenario-editor.tsx
  web/src/types.ts
Labels: backend, web

#315 Feature/web/267 add file upload interface for base data
  server/media/media_api.py
  server/media/tests/test_media_api.py
  server/scenario/web_api/data/action.py
  server/scenario/web_api/data/location.py
  server/scenario/web_api/data/resource.py
  server/scenario/web_api/utils.py
  web/src/components/mediaUpload.css
  web/src/components/mediaUpload.tsx
  web/src/main.tsx
  web/src/routes/base-data.tsx
  web/src/routes/root.tsx
  web/src/types.ts
Labels: enhancement, web

#298 #296 apk download on login screen
  .github/workflows/build-android.yml
  README.md
  app/Dockerfile
  app/android/settings.gradle
  app/lib/l10n/de.arb
  app/lib/screens/login_screen.dart
  app/lib/widgets/tan_input.dart
  app/pubspec.lock
  app/pubspec.yaml
  compose-dev.yaml
  config/nginx/component_mapping.conf
  docker-compose.yaml
  server/Dockerfile
  server/scripts/start-server.sh
  web/vite.config.ts
Labels: enhancement, app, discussion

#321 app #320: read text files from backend
  app/lib/l10n/de.arb
  app/lib/widgets/multi_media_view.dart
Labels: app

#318 add presentation skeleton
  info/presentation/.gitignore
  info/presentation/content.tex
  info/presentation/images/PXL_20240426_144813969.jpg
  info/presentation/manvsim_presentation.tex
  info/presentation/references.bib
Labels: presentation

#322 Server: Shared secret keys
  docker-compose.yaml
  server/.env
  server/Dockerfile
  server/app.py
  server/execution/services/entityloader.py
  server/execution/web_api/lobby.py
  server/execution/web_api/notification.py
Labels: bug, backend, web

#324 Fix: Illegal State Change
  server/execution/web_api/lobby.py
Labels: bug, backend

#325 Fix: Execution State Change
  server/execution/web_api/lobby.py
Labels: bug, backend

#329 Bug/server/289 csrf shared secret key across workers
  app/lib/main.dart
  docker-compose.yaml
  server/Dockerfile
  server/Pipfile
  server/Pipfile.lock
  server/app.py
  server/execution/web_api/notification.py
  server/scenario/web_api/setup.py
  server/scripts/setup.sh
  server/utils/tans.py
  web/Dockerfile
  web/nginx.conf
  web/src/api/utils.ts
  web/src/routes/execution.tsx
Labels: bug

#336 #335: fix invalid sql statements
  server/execution/web_api/lobby.py
  server/scenario/web_api/scenario.py
Labels: bug, backend

#339 add new test-data
  server/dbsetup.py
  server/dbsetup_deprecated.py
  server/execution/tests/entities/dummy_entities.py
  server/media/static/image/adrenalin-spritzen.png
  server/media/static/image/allergiepatient.png
  server/media/static/image/bible.png
  server/media/static/image/bitepatient.png
  server/media/static/image/saege.png
  server/media/static/image/schockpatient.png
  server/media/static/image/spritze.png
  server/media/static/image/transfusion.png
  server/media/static/image/woundedpatient.png
  server/media/static/image/wunderheilung.png
  server/media/static/image/zombie.png
Labels: enhancement, database

#340 bugfix editView(display and values), activate execution
  server/execution/web_api/lobby.py
  web/src/components/scenario-data.tsx
Labels: bug, backend, web

#309 Media API: restrict allowed file types
  doc/server/api_media/media_api.yml
  server/media/media_api.py
  server/media/media_data.py
Labels: backend

#319 Feature/app/304 app restructure patient screen
  app/api/generated/doc/ActionDTO.md
  app/api/generated/lib/model/action_dto.dart
  app/lib/l10n/de.arb
  app/lib/models/patient_action.dart
  app/lib/screens/action_result_screen.dart
  app/lib/screens/patient_list_screen.dart
  app/lib/screens/patient_screen.dart
  app/lib/services/time_service.dart
  app/lib/widgets/action_card.dart
  app/lib/widgets/action_selection.dart
  app/lib/widgets/media_overview_expansion.dart
  app/lib/widgets/move_card.dart
  app/lib/widgets/patient_overview.dart
  doc/server/api_game/api.yaml
Labels: app

#346 Feature/app/345 app enhancements
  app/api/generated/doc/RunPatientAllIdsGet200Response.md
  app/api/generated/lib/model/run_patient_all_ids_get200_response.dart
  app/lib/appframe.dart
  app/lib/constants/manv_icons.dart
  app/lib/l10n/de.arb
  app/lib/models/patient_list.dart
  app/lib/screens/base_list_screen.dart
  app/lib/screens/home_screen.dart
  app/lib/screens/location_list_screen.dart
  app/lib/screens/location_screen.dart
  app/lib/screens/login_screen.dart
  app/lib/screens/move_screen.dart
  app/lib/screens/notifications_screen.dart
  app/lib/screens/patient_list_screen.dart
  app/lib/screens/patient_select_screen.dart
  app/lib/screens/wait_screen.dart
  app/lib/services/patient_service.dart
  app/lib/utils/platform_checker.dart
  app/lib/utils/platform_checker_web.dart
  app/lib/widgets/location_overview.dart
  app/lib/widgets/player_overview.dart
  doc/server/api_game/api.yaml
  server/execution/api/patient.py
Labels: enhancement, app

#365 #363 fix web wrong url bug
  web/src/routes/base-data.tsx
  web/src/routes/executionList.tsx
  web/src/routes/scenario-editor.tsx
Labels: bug, web

#364 #361 fix overflow bug on login screen
  app/lib/l10n/de.arb
  app/lib/screens/login_screen.dart
Labels: bug, app

#342 Server: Endpoint for Performed Actions
  app/api/generated/doc/PerformedActionDTO.md
  app/api/generated/doc/RunActionPerformResultGet200Response.md
  app/api/generated/lib/model/performed_action_dto.dart
  app/api/generated/lib/model/run_action_perform_result_get200_response.dart
  app/lib/models/action_result.dart
  app/lib/models/performed_actions.dart
  app/lib/screens/action_result_screen.dart
  app/lib/screens/patient_screen.dart
  app/lib/services/action_service.dart
  doc/server/api_game/api.yaml
  server/.editorconfig
  server/execution/api/action.py
  server/execution/api/patient.py
  server/execution/entities/patient.py
  server/execution/entities/performed_action.py
  server/execution/entities/stategraphs/patientstate.py
  server/execution/tests/api/test_action.py
Labels: enhancement, backend

#367 add refresh endpoint, add delayed
  doc/server/api_game/api.yaml
  server/execution/api/action.py
  server/execution/api/patient.py
Labels: enhancement, backend

#373 Feature/app/372 app patient refresh endpoint
  app/api/generated/README.md
  app/api/generated/doc/DefaultApi.md
  app/api/generated/lib/api/default_api.dart
  app/lib/screens/patient_screen.dart
  app/lib/services/patient_service.dart
  server/execution/api/patient.py
Labels: app

#377 Web: text improvements
  server/Pipfile
  server/Pipfile.lock
  server/dbsetup.py
  server/execution/services/entityloader.py
  server/execution/web_api/notification.py
  web/src/routes/execution.tsx
Labels: web

#381 Refactor PatientClass
  app/lib/models/patient.dart
Labels: enhancement, app

#393 Feature/app/extract classification card
  app/lib/screens/patient_screen.dart
  app/lib/widgets/classification_card.dart
  app/lib/widgets/performed_actions_overview.dart
Labels: app

#391 Feature/server/384 db add patient locations to patient scenario mapping
  server/dbsetup.py
  server/execution/services/entityloader.py
  server/media/static/image/ruine_haus.jpg
  server/migrations/versions/454cd575bc25_.py
  server/models.py
Labels: enhancement, backend, database

#400 Web: Hide alert button for inactive exec
  web/src/components/PlayerStatus.tsx
  web/src/routes/execution.tsx
Labels: web

#397 app #396 fix location_screen refresh indicator
  app/lib/constants/manv_icons.dart
  app/lib/screens/base_list_screen.dart
  app/lib/screens/location_screen.dart
  app/lib/screens/patient_screen.dart
Labels: bug, app

#412 Feature/app/407 app restructure location screen
  app/api/generated/.openapi-generator/FILES
  app/api/generated/README.md
  app/api/generated/doc/DefaultApi.md
  app/api/generated/doc/RunLocationPersonsGet200Response.md
  app/api/generated/doc/RunLocationPersonsGet200ResponsePatientsInner.md
  app/api/generated/doc/RunLocationPersonsGet200ResponsePlayersInner.md
  app/api/generated/lib/api.dart
  app/api/generated/lib/api/default_api.dart
  app/api/generated/lib/api_client.dart
  app/api/generated/lib/model/run_location_persons_get200_response.dart
  app/api/generated/lib/model/run_location_persons_get200_response_patients_inner.dart
  app/api/generated/lib/model/run_location_persons_get200_response_players_inner.dart
  app/lib/constants/l10n/de.arb
  app/lib/models/person.dart
  app/lib/services/location_service.dart
  app/lib/services/patient_service.dart
  app/lib/widgets/action/action_result_screen.dart
  app/lib/widgets/action/action_screen.dart
  app/lib/widgets/action/action_selection.dart
  app/lib/widgets/location/location_overview.dart
  app/lib/widgets/location/location_patient_list.dart
  app/lib/widgets/location/location_screen.dart
  app/lib/widgets/patient/classification_card.dart
  app/lib/widgets/patient/patient_overview.dart
  app/lib/widgets/patient/patient_screen.dart
  app/lib/widgets/player/player_list.dart
  doc/server/api_game/api.yaml
  server/execution/api/location.py
Labels: app

#251 #209 implement map
  app/api/generated/doc/MapDataDTO.md
  app/api/generated/lib/model/map_data_dto.dart
  app/assets/map_background.jpg
  app/lib/appframe.dart
  app/lib/constants/l10n/de.arb
  app/lib/models/map_data.dart
  app/lib/models/patient.dart
  app/lib/services/map_service.dart
  app/lib/services/notification_service.dart
  app/lib/utils/custom_transformation_controller.dart
  app/lib/utils/offset_ray.dart
  app/lib/widgets/map/manv_map.dart
  app/lib/widgets/map/map_overlay.dart
  app/lib/widgets/map/map_screen.dart
  app/pubspec.lock
  app/pubspec.yaml
  doc/app/map.md
  doc/server/api_game/api.yaml
  server/execution/api/manvmap.py
Labels: enhancement, app

#411 Feature/app/410 app theme enhancement
  app/lib/main.dart
  app/lib/services/size_service.dart
  app/lib/widgets/action/action_result_screen.dart
  app/lib/widgets/action/action_screen.dart
  app/lib/widgets/action/action_selection.dart
  app/lib/widgets/base_screens/base_list_screen.dart
  app/lib/widgets/base_screens/home_screen.dart
  app/lib/widgets/base_screens/notifications_screen.dart
  app/lib/widgets/location/location_screen.dart
  app/lib/widgets/media/media_overview_dialog.dart
  app/lib/widgets/patient/move_screen.dart
  app/lib/widgets/patient/patient_screen.dart
  app/lib/widgets/player/login_screen.dart
  app/lib/widgets/player/name_screen.dart
  app/lib/widgets/player/wait_screen.dart
Labels: app

#418 415 enhance example scenario
  server/dbsetup.py
  server/media/static/README.md
  server/media/static/image/auto_wrack.jpg
  server/media/static/image/quarantaene_zone.jpg
  server/media/static/image/unihochhaus.jpg
Labels: presentation

#422 Feature/app/map better data
  app/lib/models/map_data.dart
  app/lib/services/location_service.dart
  app/lib/services/patient_service.dart
  app/lib/utils/custom_transformation_controller.dart
  app/lib/widgets/map/manv_map.dart
  app/lib/widgets/map/map_overlay.dart
  app/lib/widgets/map/map_screen.dart
  server/execution/api/manvmap.py
Labels: enhancement, app, presentation

#423 Feature/app/421 app runtime config
  app/assets/config/config.json
  app/lib/appframe.dart
  app/lib/main.dart
  app/lib/models/config.dart
  app/lib/start_screen.dart
  app/lib/widgets/player/login_screen.dart
  app/lib/widgets/player/wait_screen.dart
  app/pubspec.yaml
  config/app/config.json
  docker-compose.yaml
Labels: app
